{% load helpers %}
{% load static %}
<div class="card style="height: 200px">
    <h5 class="card-header">Associated Points</h5>
    <div class="card-body d-flex flex-column">
        {% if points %}
        <link rel="stylesheet" type="text/css" href="{% static 'map.css' %}" />
        <link rel="stylesheet" type="text/css" href="https://unpkg.com/leaflet/dist/leaflet.css" crossorigin=""/>
        <script src="https://unpkg.com/leaflet/dist/leaflet.js" crossorigin=""></script>
        <div id="map">
        </div>
        <script>
            {% for point in points %}
            const geodata = '{{point.point.geojson}}';
            {% endfor %}
        </script>
        <script src="{% static 'map.js' %}"></script>
        {% else %}
        <div class="text-muted">
            None
        </div>
        {% endif %}
    </div>
</div>